.local_bbzcal.table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50px;
  grid-auto-rows: minmax(180px, auto);

  .dayhead {
    align-self: center;
    justify-self: center;
  }

  .day {
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    &.off {
      background-color: #EFEFEF;
    }

    .date {
      text-align: center;
      background-color: #EFEFEF;
      padding: 4px;
    }

    &.current .date {
      background-color: orange;
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 6px;

      .event {
        background-color: blueviolet;
        color: white;
        border-radius: 5px;
        padding: 6px;
        margin-bottom: 4px;

        &.external {
          background-color: lighten(blueviolet, 20%);
        }

        &.editable {
          cursor: pointer;
        }
      }
    }

    .add {
      align-self: flex-end;
      padding: 6px;
      cursor: pointer;
      background-color: lightskyblue;
      line-height: 12px;
    }
  }
}

.local_bbzcal_modal {
  position: absolute;
  background-color: white;
  box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.75);
  display: none;

  .header {
    background-color: #EEE;
    padding: 12px;
    display: flex;
    justify-content: space-between;

    .bbzcal_close {
      cursor: pointer;
    }
  }

  .body {
    padding: 16px;
  }

  .trash {
    float: right;
    padding-bottom: 12px;
    cursor: pointer;
  }
}
