<div class="local_bbzcal dateswitcher">
  <div class="previous"><a href="calendar.php?courseid={{course_id}}&date={{previous_month}}">&larr;</a></div>
  <div class="current"><p>{{current_month}}</p><p class="smol"><a href="calendar.php?courseid={{course_id}}&date={{today}}">Heute</a></p></div>
  <div class="next"><a href="calendar.php?courseid={{course_id}}&date={{next_month}}">&rarr;</a></div>
</div>

Termine für Klassen: {{displayklasses}}

<div class="local_bbzcal table"">
  {{#weekdays}}
    <div class="dayhead">{{.}}</div>
  {{/weekdays}}
  {{#dates}}
    <div class="day {{#offlimit}}off{{/offlimit}} {{#current}}current{{/current}}">
      <div class="date">{{day}}</div>
      <div class="content">
        {{#events}}
          <div class="event {{#external}}external{{/external}} {{#editable}}editable{{/editable}}"
              data-id="{{id}}" data-timestamp="{{date}}" data-courseid="{{course_id}}"
              data-title="{{title}}" data-description="{{description}}">
            {{title}}
          </div>
        {{/events}}
      </div>
      {{#admin}}
        <div class="add" data-id="0" data-timestamp="{{timestamp}}" data-courseid="{{courseid}}" data-createklasses="{{createklasses}}">&plus;</div>
      {{/admin}}
    </div>
  {{/dates}}
</div>
