<div class="local_bbzcal table" data-courseid="{{courseid}}">
  {{#weekdays}}
    <div class="dayhead">{{.}}</div>
  {{/weekdays}}
  {{#dates}}
    <div class="day {{#offlimit}}off{{/offlimit}} {{#current}}current{{/current}}">
      <div class="date">{{day}}</div>
      <div class="content">
        {{#events}}
          <div class="event {{#external}}external{{/external}}">{{title}}</div>
        {{/events}}
      </div>
      {{#admin}}
        <div class="add" data-timestamp="{{timestamp}}">&plus;</div>
      {{/admin}}
    </div>
  {{/dates}}
</div>
