<div class="local_bbzcal table"">
  {{#weekdays}}
    <div class="dayhead">{{.}}</div>
  {{/weekdays}}
  {{#dates}}
    <div class="day {{#offlimit}}off{{/offlimit}} {{#current}}current{{/current}}">
      <div class="date">{{day}}</div>
      <div class="content">
        {{#events}}
          <div class="event {{#external}}external{{/external}} {{#editable}}editable{{/editable}}"
              data-id="{{id}}" data-timestamp="{{date}}" data-courseid="{{course_id}}"
              data-title="{{title}}" data-description="{{description}}">
            {{title}}
          </div>
        {{/events}}
      </div>
      {{#admin}}
        <div class="add" data-id="0" data-timestamp="{{timestamp}}" data-courseid="{{courseid}}">&plus;</div>
      {{/admin}}
    </div>
  {{/dates}}
</div>
