<script>
  var table = document.querySelector('.local_bbzcal.table');
  var modal = document.querySelector('.local_bbzcal_modal');
  document.body.appendChild(modal);
  var dateInput = modal.querySelector('.date');
  var tsInput = modal.querySelector('.timestamp');
  var cidInput = modal.querySelector('.course_id');
  var locInput = modal.querySelector('.location');
  var close = modal.querySelector('.bbzcal_close');
  var buttons = document.querySelectorAll('.local_bbzcal .add');

  function onAddButtonClick(e) {
    modal.style.display = 'block';
    modal.style.top = (e.clientY + window.scrollY) + 'px';
    modal.style.left = (e.clientX + window.scrollX) + 'px';
    const date = new Date(this.getAttribute('data-timestamp') * 1000);
    tsInput.value = this.getAttribute('data-timestamp');
    cidInput.value = table.getAttribute('data-courseid');
    locInput.value = window.location.href;
    dateInput.value = date.getUTCDate() + '.' + (date.getUTCMonth() + 1) + '.' + date.getUTCFullYear();
  }

  buttons.forEach(button => {
    button.addEventListener('click', onAddButtonClick);
  });

  close.addEventListener('click', function () {
    modal.style.display = 'none';
  });
</script>
