<div class='local_bbzcal_modal'>
  <div class='title'>Add Event</div>
  <div class='body'>
    <form action="create.php" method="POST">
      <input type="hidden" name="timestamp" class="timestamp">
      <input type="hidden" name="course_id" class="course_id">
      <input type="hidden" name="location" class="location">
      Date <input name='date' type='text' class="date" disabled><br>
      Title <input name='title' type='text'><br>
      <input type='submit' value='Save'>
    </form>
  </div>
</div>
